*{
  box-sizing: border-box;
}

body{
  font-family: Roboto;
  margin: 0;
}

.header {
  display: flex;
  padding: 5px;
  justify-content: center;
  background-color: #1F2930;
  margin-bottom: 50px;
}

.header-container {
  display: flex;
  width: 1000px;
  flex-direction: column;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5px;
  flex-wrap: wrap;
  margin-bottom: 50px;
}

.logo a {
  font-size: 24px;
  color: #F9FAF8;
  text-decoration: none;
  font-weight: bolder;
}

.nav-container ul {
  display: flex;
  gap: 10px;
  padding: 0;
  list-style: none;
}

ul a {
  font-size: 18px;
  text-decoration: none;
  color: #E5E7EB;
}

.hero-container {
  padding: 5px;
  display: flex;
  align-items: stretch;
  flex-wrap: wrap;
  margin-bottom: 50px;
  gap: 10px;
}

.hero-content {
  width: 400px;
  flex: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.main-title {
  font-size: 48px;
  font-weight: bolder;
  color: #F9FAF8;
}

.second-text {
  font-size: 18px;
  color: #E5E7EB;
}

button{
  width: 150px;
  height: 40px;
  background-color: #3882F6;
  color: #E5E7EB;
  font-weight: bold;
  border-radius: 10px;
  border: none;
}

.hero-image {
 display: flex;
 flex-flow: row nowrap;
 align-items: center;
}

.hero-image img {
  width: 450px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column wrap;
  padding: 5px;
  flex-wrap: wrap;
}

.info-container {
  display: flex;
  width: 1000px;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  gap: 80px;
  margin-bottom: 80px;
}

.info-container img {
  width: 200px;
}

.info-container .info-title {
  font-size: 36px;
  color: #1F2930;
  font-weight: bolder;
  flex: auto;
  text-align: center;
}

.info-image-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
}

.img-container {
  width: 200px;
  text-align: center;
  margin: 10px;
}

.img-container img {
  border-radius: 15px;
  border: 1px solid #000;
}

.quote-container {
  background-color: #E5E7EB;
  display: flex;
  padding: 5px;
  justify-content: center;
  margin-bottom: 50px;
}

.quote-container .quote {
  display: flex;
  width: 1000px;
  flex-direction: column;
  padding: 100px 90px;
}

.quote .text {
  font-size: 36px;
  font-weight: lighter;
  font-style: italic;
  color: #1F2937;
}

.quote .quote-maker {
  margin-left: auto;
  font-size: 20px;
}

.banner-container {
  display: flex;
  padding: 5px;
  justify-content: center;
  margin-bottom: 50px;
}

.banner {
  display: flex;
  width: 1000px;
  padding: 50px 90px;
  justify-content: space-between;
  align-items: center;
  border-radius: 12px;
  gap: 10px;
  flex-wrap: wrap;
  background-color: #3882F6;
  color: #E5E7EB;
}

.banner-text .banner-title {
  font-size: 25px;
  font-weight: bolder;
}

.banner-text .banner-desc {
  font-size: 20px;
}

.banner .signup-btn {
  border: 3px solid #E5E7EB;
}
