*{
  box-sizing: border-box;
}

body{
  font-family: Roboto;
  margin: 0;
}

.header {
  background-color: #1E2837;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column wrap;
  padding: 5px;
  flex-wrap: wrap;
  margin-bottom: 80px;
}

.nav-container {
  width: 1000px;
  display: flex;
  gap: 10px;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  margin-bottom: 80px;
}

.left{
  align-self: center;
  font-size: 24px;
  color: #F9FAF8;
  font-weight: bold;
}

.right .nav {
  padding: 0;
  display: flex;
  justify-content: end;
  list-style: none;
  gap: 15px;
}


.right .nav a {
  text-decoration: none;
  color: #E5E7EB;
  font-size: 18px;
}

.hero-container {
  gap: 14px;
  display:flex;
  width: 1000px;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0 10px;
  margin-bottom: 80px;
}

.hero-container .hero-content {
  width: 450px;
  flex: auto;
}

.hero-image img {
  width: 450px;
  border-radius: 15px;
  border: 2px solid #eee;
  /* flex: auto; */
}

p {
  margin: 0;
}

.hero-content .main-title {
  font-size: 48px;
  font-weight: bolder;
  color: #F9FAF8;
  margin-bottom: 30px;
}

.hero-content .second-text {
  font-size: 20px;
  color: #E5E7EB;
  font-weight: normal;
  margin-bottom: 30px;
}

.hero-content button {
  background-color: #3882F6;
  border: none;
  color: #F9FAF8;
  width: 150px;
  height: 50px;
  border-radius: 15px;
  font-weight: bolder;
  font-size: 18px;
}

.body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column wrap;
  padding: 5px;
  flex-wrap: wrap;
}

.info-container {
  display: flex;
  width: 1000px;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  gap: 80px;
  margin-bottom: 80px;
}

.info-container img {
  width: 200px;
}

.info-container .info-title {
  font-size: 36px;
  color: #1F2930;
  font-weight: bolder;
  flex: auto;
}

.info-image-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
}

.img-container {
  width: 200px;
  text-align: center;
  margin: 10px;
}

.img-container img {
  border-radius: 15px;
  border: 1px solid #000;
}
